body {background:white;}

// --------------------------------------------------------------------
// Navigation
// --------------------------------------------------------------------
#MainNav {
	z-index:100;
	position:fixed; left:0; top:0; bottom:0; width:$nav-width;
	padding:30px;
	background-color:rgba(0,0,0,0.8);
}

.slide {
	h2:before {content:""; background:url(/images/icon-mountain-red.svg); display:inline-block; width:45px; height:30px; margin-right:10px;}
}
span.lc {
	text-transform: lowercase;
	display:block;
}
.link-list {
	padding-left:60px;
	a {
		transition: color 300ms;
		color: #c3c3c3;
		font-size:1.5em;
		display:block;
		padding:8px 0;
		&:hover, &:focus {
			color:white;
		}
	}
	a.active {
		color:white;
		position:relative;
		&:before {
			content:url(/images/icon-mountain.svg);
			display:block; height:30px; width:30px;
			position:absolute; left:-35px;
		}
	}
}

// --------------------------------------------------------------------
// Slide
// --------------------------------------------------------------------
.slide {
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow-y:hidden;
}
.bg-image {
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:0;
	opacity:0;
	background-size:cover;
	background-repeat:no-repeat;
	transition:opacity 500ms ease 200ms;
	&.active {
		opacity:1;
		z-index:1;
		transition-delay:0ms;
	}
}


#Content {
	margin-left:100vw;
	z-index:2;
	position:relative;
	.slide {
		> div {padding:30px; max-width: 600px; width:100%; }
		h2,h3,h4 {text-align:center; margin-bottom:0.5em; margin-top:0;}

		h2 {font-size:2.5em; font-weight:700; text-transform:uppercase;}
		h3 {
			text-align:left;
			font-size:1.8em;
			font-weight:700;
			color:$primary;
			text-transform: uppercase;
		}
		p,li {font-size:1.3em; font-weight:normal; color: #262626;}
	}
}
#Background {
	opacity:0.3;
	position:fixed;
	top:0; right:0; left:50vw; bottom:0;
	z-index:0;
}

#MainSlide {
	z-index:2;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	position:fixed;
	left:0; right:0; top:0;
	padding-left:$nav-width;
	background:$gradient;
	>div:not(.bg-image) {z-index:2;}
	svg {height:70vh;}
}



body.split {
	#MainSlide {
		right:50vw;
	}
	#Content {
		margin-left:calc(50vw - 14px);
	}
}

#Headline {
	text-align:center;
	padding:20px;
	strong {color:inherit;}
	h1 {color:white; font-size:3em;}
	p {
		color:$primary-light;
		font-size:1.2em;
		width:100%;
		max-width:550px;
		margin:0 auto;
	}
}

.back-link {
	&:hover, &:focus {color:white;}
	font-size:1.2em;
	position:absolute;
	bottom:30px;
	left:0; right:0;
	text-align:center;
	&:before {
		content:"\2190";
		margin-right:10px;
	}
}
#Content #Mantra {
	h3 {text-align:center;}
}