$svg-select-color: black !default;
$svg-select-color-contrast: $primary !default;
$svg-color:white;
$svg-color-contrast:black;
$svg-hover-color: $primary-light;

bstar-one-svg {
	display:block;
}
bstar-one-svg svg {
	width:100%;
	#canvas >g {
		cursor:pointer;
		* {
			fill:$svg-color;
			transition: all 200ms;

		}
	}
}
body.contrast {
	#canvas > g * {
		fill:$svg-color-contrast;
	}
}

@mixin slideSvgFill($name, $text, $transform)
{
	body[data-slide="#{$name}"] {
		#canvas #text#{$text} * {fill:$svg-select-color;}
		&.contrast {
			#canvas #text#{$text} * {fill:$svg-select-color-contrast;}
		}
	}
	#canvas > g:hover {
		#text#{$text} {transform:$transform;}
	}
}

@include slideSvgFill("Goal", 0, translateY(-10px)); // #1 Mobile Services Leader
@include slideSvgFill("Mantra", 1, translateX(-10px)); // Boldly Serving Wireless
@include slideSvgFill("Strategy", 2, translateX(10px)); // 2020 Strat
@include slideSvgFill("Values", 3, translateX(10px)); // Think Customer First
@include slideSvgFill("Values", 4, translateX(-15px)); // Earned Trust
@include slideSvgFill("Values", 5, translateX(15px)); // Inspired Teamwork
@include slideSvgFill("Values", 6, translateX(-8px)); // Relentless pursuit of excellence
@include slideSvgFill("OneBrightstar", 7, translateY(10px)); // brightstar

#canvas > g:hover *{
	fill:$svg-hover-color;
}
body.contrast {
	#canvas > g:hover * {
		fill:$primary;
	}
}